@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font di default */
html, body {
  font-family: 'Poppins', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

/* Link puliti */
a { @apply underline-offset-2; }
