@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base style */
body {
  @apply bg-gradient-to-b from-sky-50 to-white;
}

/* Link styling */
a {
  @apply underline underline-offset-2 decoration-slate-300 hover:decoration-blue-400;
}
