@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tocco base per il look */
body {
  @apply bg-gradient-to-b from-sky-50 to-white text-slate-900;
}
a { @apply underline underline-offset-2 decoration-slate-300 hover:decoration-blue-400; }
